@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --primary-color: black;
    --dark-gray: #6B7280;
    --light-gray: #F9FAFB;
    --offwhite: #d7f3fa;
    --light-blue: #EFF6FF;
    --baby-pink: #FFB6C1;
    --purple: #A5B4FC;
    --pink: #FB9E9F;
    /* #EE6C8A */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px var(--primary-color);
    text-align: center;
    cursor: pointer;
    margin: 1rem;
}

.link-secondary {
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: var(--purple);
    box-shadow: 0px 6px 18px -5px var(--dark-gray);
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 6px 18px -5px #c8d1e2;
    margin: 0 1rem 1rem 1rem;
}

.link-pink {
    background-color: var(--baby-pink);
    box-shadow: 0px 6px 18px -5px var(--baby-pink);
}

.link-purple {
    background-color: var(--purple);
    box-shadow: 0px 6px 18px -5px var(--purple);
}

.link-secondary-purple {
    color: var(--purple)
}

.link-secondary-pink {
    color: var(--pink)
}


/** containers **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    margin: auto;
}

/** lists **/

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0.25rem;
}

/** navigation **/

.navigation {

    color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    margin: auto;
    box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
    background-color: white;
    padding: 0.5rem 2rem 0.5rem 2rem;
    max-width: 900px;
    margin: auto;
    padding: 1.5rem;
}

.navigation .nav-brand {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.nav-brand a {
    text-decoration: none;
    color: inherit;
}

.navigation .nav-pills {
    text-align: center;
}

.navigation .link {
    color: var(--primary-color);
    padding: 0.5rem;
}

.navigation .link-active {
    font-weight: bold;
    margin: 1px;
    margin-bottom: 3px;
    border-bottom: 2px solid var(--baby-pink);
}

/* header */

.hero {
    padding: 2rem 3rem;
    margin: 1rem 0rem 2rem 0rem;
}

.hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
    object-fit: cover;
    width: 100%;
}

.hero-heading {
    color: var(--pink);
    /* color:var(--purple); */
    padding-top: 3rem;
    text-align: center;
    font-size: 3rem;
}

.hero-sub-heading {
    text-align: center;
    font-weight: 100;
    font-size: 1.12rem;
    line-height: 1.5;
    color: #4b5563;
}


/* Work */
.section-work {
    background: white;
    padding: 1rem;
    margin-bottom: 3rem;
}

.section-projects {
    margin-top: 0rem;
    padding-top: 0rem;
    display: grid;
    grid-template-columns: 1fr;
}

.project-card {
    /* box-shadow: 0 1px 25px rgba(146, 161, 176, .15); */
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.work-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
}

.project-title {
    text-align: center;
    font-size: 700;
    font-size: 1.625rem;
    font-weight: 600;
}

.project-subtitle {
    margin: 1rem;
    text-align: center;
    font-size: 1.1rem;
    color: #6b7280;
}

.project-image {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tech-image {
    display: none;
}


/* footer */

.footer {
    background-color: var(--light-gray);
    background-color: white;
    padding: 2rem 0rem;
    text-align: center;
    color: black;
    border-top-right-radius: 1rem;
    box-shadow: 0 1px 25px #E5E7EB;
    /* margin-top: 3rem; */
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
    padding-inline-start: 0px;
}

.footer .link {
    color: black;
}

.footer ul {
    padding-left: 0px;
}

.footer-icon {
    width: 2rem;
}

.pills {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: 1rem auto;
    color: var(--dark-gray);
    /* gap: 0.5rem; */
    padding: 0 1rem;
}

.pill {
    border: 1px solid lightgray;
    margin: 0.5rem 0.25rem;
    padding: 0.25rem 1rem;
    font-size: 0.9rem;
    border-radius: 1.5rem;
    color: var(--dark-gray);
    cursor: pointer;
}

.pill.active {
    background-color: var(--pink);
    color: white;
    border: 1px solid var(--pink);
}

.mt-3 {
    margin-top: 1.5rem;
}

@media (min-width: 760px) {

    .apps-section {
        flex-direction: row;
        text-align: left;
        padding: 1rem 1.5rem 1rem 0;
    }

    .section-aboutme {
        background-image: url(./aboutmebg2.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: white;
    }

    .about-me-img {
        max-width: 60vw;
    }

    .list-item-inline {
        padding: 0rem 0.5rem;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation .nav-brand {
        text-align: left;
    }

    .navigation .nav-pills {
        text-align: right;
    }

    .hero {
        display: flex;
        max-width: 900px;
        margin: 3rem auto 3rem auto;
        /* margin-top:5rem; */
    }

    .headings {
        margin-right: 2rem;
    }

    .hero-heading {
        text-align: left;
        font-size: 3.5rem;
    }

    .hero-heading .section-heading {
        order: 1;
        text-align: left;
    }

    .hero-sub-heading {
        text-align: left;
        /* margin-top: 0.5rem; */
        max-width: 35ch;
        font-size: 1.25rem;
    }

    .hero-image {
        order: 2;
    }

    .know-more {
        display: inline-block;
        margin-top: 1.5rem;
    }


    .pills {
        gap: 0.5rem;
    }

    .pill {
        padding: 0.45rem 1.5rem;
        font-size: 1rem;
        border-radius: 1.5rem;

    }

    .hero-projects {
        margin: 0 auto 0 auto;
        max-width: 750px;
    }

    .links {
        display: flex;
    }

    .section-heading {
        font-size: 2.5rem;
    }

    .section-sub-heading {
        font-size: 1.2rem;
    }


    .section-info {
        max-width: 900px;
        margin: auto;

    }

    .section-work {
        max-width: 900px;
        padding: 2rem;
    }

    .section-work .section-info {
        display: flex;
        /* max-width: 100px; */
    }

    .section-info {
        display: flex;
        justify-content: space-between;
    }

    .section-projects {
        grid-template-columns: 1fr 1fr;
    }

    .mt-3 {
        margin-top: 2rem;
    }

    .tech-image {
        display: inline;
        margin: auto 0 auto 0;
        width: 45%;
    }

    .techs {
        width: 45%;
    }

    .project-row {
        display: flex;
        justify-content: space-between;
    }

    .project-card {
        margin: 1rem;
    }

    .navigation .nav-brand {
        margin-bottom: 0;
    }

}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
